.flight-select-form {
  padding: 24px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 580px;

  .flight-type {
    margin-bottom: 16px;
  }

  .option-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #1c1b1f;
  }

  .option-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #74767a;
  }

  .submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background: #11397e;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    max-width: 126px;
    height: 60px;
    cursor: pointer;
    align-self: flex-end;
    width: 100%;

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
