<form
  [formGroup]="flightSearchForm"
  (submit)="onSubmitForm()"
  class="flight-select-form"
  *mcRerender="trigger"
>
  <div class="flight-type">
    <mat-radio-group formControlName="type">
      <mat-radio-button *ngFor="let flightType of flightTypes" [value]="flightType">
        <span>{{ flightType }}</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="route">
    <button class="reverse-btn" (click)="onReverseBtnClick()">
      <img src="../../../../assets/svg/reverse-icon.svg" alt="reverse" />
    </button>

    <mat-form-field>
      <mat-label>From</mat-label>
      <input type="text" matInput formControlName="from" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <div class="option-heading">{{ option.city }} ({{ option.key }})</div>
          <div class="option-description">{{ option.name }}</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Destination</mat-label>
      <input type="text" matInput formControlName="to" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <div class="option-heading">{{ option.city }} ({{ option.key }})</div>
          <div class="option-description">{{ option.name }}</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="details">
    <ng-container
      *ngTemplateOutlet="isRoundTrip ? roundTrip : oneWay"
      [formGroup]="flightSearchForm"
    >
    </ng-container>

    <mat-form-field class="passengers-input">
      <mat-label>Passengers</mat-label>
      <mat-select class="passengers-select">
        <mat-select-trigger class="passengers-trigger">
          <span *ngIf="passengers.adults > 0">{{ passengers.adults }} Adult, </span>
          <span *ngIf="passengers.children > 0">{{ passengers.children }} Child, </span>
          <span *ngIf="passengers.infants > 0">{{ passengers.infants }} Infants </span>
        </mat-select-trigger>

        <div>
          <app-passengers-count
            [config]="passengersConfig.adults"
            [passengers]="passengers"
            (passengersEvent)="onPassengersCountChange($event)"
          />
        </div>

        <mat-option [value]="passengersConfig.children" disabled style="pointer-events: auto">
          <app-passengers-count
            [config]="passengersConfig.children"
            [passengers]="passengers"
            (passengersEvent)="onPassengersCountChange($event)"
          />
        </mat-option>

        <mat-option [value]="passengersConfig.infants">
          <app-passengers-count
            [config]="passengersConfig.infants"
            [passengers]="passengers"
            (passengersEvent)="onPassengersCountChange($event)"
          />
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-button [disabled]="!flightSearchForm.valid" type="submit" class="submit-button">
    Search
  </button>
</form>

<ng-template #roundTrip [formGroup]="flightSearchForm">
  <mat-form-field class="date-picker">
    <mat-label>Dates</mat-label>
    <mat-date-range-input [rangePicker]="picker" [min]="minDate">
      <input matStartDate formControlName="dateFrom" />
      <input matEndDate formControlName="dateTo" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</ng-template>

<ng-template #oneWay [formGroup]="flightSearchForm">
  <mat-form-field class="date-picker">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateFrom" [min]="minDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-template>
