<app-loader *ngIf="isLoading$ | async"></app-loader>
<div class="error-message" *ngIf="(isLoading$ | async) === false && (errMsg$ | async) !== null">
  {{ errMsg$ | async }}
</div>
<ng-container *ngIf="(isLoading$ | async) === false && (errMsg$ | async) === null">
  <app-flight-selection
    direction="forward"
    *ngIf="flightsTo$ | async as flightsTo"
    [flights]="flightsTo"
  ></app-flight-selection>
  <app-flight-selection
    direction="backward"
    *ngIf="flightsBack$ | async as flightsBack"
    [flights]="flightsBack"
  ></app-flight-selection>
  <div class="buttons">
    <button mat-button type="button" class="back-button" routerLink="/">Back</button>
    <button mat-button type="submit" class="continue-button">Continue</button>
  </div>
</ng-container>
