<mat-toolbar>
  <div class="wrapper">
    <div class="footer-container">
      <a class="copyright" href="https://rs.school/angular/" target="_blank"
        >© 2023, AIRWAY. All rights reserved.
      </a>
      <div class="github-info">
        <img src="../../../assets/svg/github-icon.svg" alt="Github" />
        <a href="https://github.com/bvfromru" target="_blank">Bvfromru</a>
      </div>
      <div class="payments">
        We accept these payment methods
        <div class="payment-services">
          <img src="../../../assets/svg/mastercard-icon.svg" alt="Mastercard" />
          <img src="../../../assets/svg/paypal-icon.svg" alt="Paypal" />
          <img src="../../../assets/svg/american-express-icon.svg" alt="American Express" />
          <img src="../../../assets/svg/visa-icon.svg" alt="Visa" />
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
