<div class="passenger-row">
  <div class="info">
    <div class="info-header">{{ config.title }}</div>
    <div class="info-description">{{ config.age }}</div>
  </div>
  <div class="counter">
    <button mat-icon-button (click)="changePassengers(config.title, 'remove')">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{ passengers[config.key] }}</span>
    <button mat-icon-button (click)="changePassengers(config.title, 'add')">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
