.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  background-color: #f5f5f5;
}

.main-page {
  .main-container {
    background-color: transparent;
  }
}
